.shiny-text {
  display: inline-block;
}

code {
  font-family: var(--font-mono);
  font-size: 16px;
  color: var(--accent-green);
  font-weight: bold;
  background: rgba(0, 255, 156, 0.08);
  padding: 0 4px;
  border-radius: 4px;
  margin: 0 2px;
  display: inline-block;
  line-height: 1.3;
  border: 1px solid rgba(0, 255, 156, 0.4);
  box-shadow: 0 0 0 1px rgba(0, 255, 156, 0.4);
  transition: all 0.3s ease;
}